.contents__messages{data: {message: {id: message.id}}}
  .messages__data
    %p.messages__data__user-name
      = message.user.name
    %p.messages__data__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  %p.messages_text
    = message.content
  = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
