.contents__messages{data: {message: {id: message.id}}}
  .contents__messages__data
    = message.user.name
    %span
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    - if message.content.present?
      %p.contents__messages__message
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
