.side
  .side__header
    .side__header__box
      .side__header__box__user-name
        masa
      .side__header__box__menu
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to "#" do
          = icon('fas', 'cog')
  .side__contents
    .side__contents__group
      .side__contents__group__group-name
        techcamp
      .side__contents__group__message
        まだメッセージがありません
    .side__contents__group
      .side__contents__group__group-name
        techcamp
      .side__contents__group__message
        まだメッセージがありません
    .side__contents__group
      .side__contents__group__group-name
        techcamp
      .side__contents__group__message
        まだメッセージがありません
    .side__contents__group
      .side__contents__group__group-name
        techcamp
      .side__contents__group__message
        まだメッセージがありません